<%= form_for [refinery, :visitors_admin, @visitor] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @visitor,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :email -%>
    <%= f.text_field :email, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :password -%>
    <%= f.password_field :password, :class => 'larger widest' -%>
  </div>  

  <div class='field'>
    <%= f.label :password_confirmation -%>
    <%= f.password_field :password_confirmation, :class => 'larger widest' -%>
  </div>  


  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.visitors.admin.visitors.visitor'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @visitor.email) -%>
<% end -%>
