<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(visitor) -%>">
  <span class='email'>
    <%= visitor.email %>

  </span>

  <span class='email'>
    <b><%= visitor.name ||  "None"%></b>
  </span>  
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_visitors_admin_visitor_path(visitor),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.visitors_admin_visitor_path(visitor),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :data => {:confirm => t('message', :scope => 'refinery.admin.delete', :title => visitor.email)},
        :method => :delete %>
  </span>
</li>
