    <% if flash[:alert]%>
      <div class="alert alert-danger">
        <%= flash[:alert]%>
      </div>
    <% elsif flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice]%>
      </div>    
    <% end %>

<div class="conteiner conteiner padding-side">
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
<%= form_for(resource, as: resource_name, url: '/visitors/sign_in') do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, placeholder:"Email Address", class: "text_input" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder:"Password", class: "text_input"%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
    
      <label for="visitor_remember_me"><span></span>Remember me</label>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>  
</div><!--End col sm 6-->
</div><!--End Row-->
</div>

